body
{
  /* 文字色を白に */
  color: white;
  /* 背景色を黒に */
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  margin-top: 0px;
}

div#clock_date, div#clock_time
{
  font-family: "Arial";
  font-size: 12px;
  text-align: right;
}

div#clock_date
{
  padding-top: 2px;
}
